.footer{
    padding: 4rem 4rem ;
} 


.col-md-4{
    background-color: #f2f2f2;
    padding: 2rem;
    flex-wrap: wrap;
    text-decoration-color: black;
}


.social-icon{
    display: flex;
    flex-direction: row;
    align-content: first baseline;
    -webkit-text-stroke-color: blue;
}

